/* Custom Own CSS */
.fontManrope {
  font-family: "Manrope", sans-serif !important;
}

.letter_sp {
  letter-spacing: 0.5px !important;
}

.cst-pt-6 {
  padding-top: 6rem !important;
}


.greentick {
  color: #2ecc71;
  font-weight: bold;
  font-size: 1.2rem;
  filter: drop-shadow(0px 0px 10px #2ecc71);
}

.iconShadow {
  color: #d4af37;
  filter: drop-shadow(0 0 15px #d4af37); /* #ffcc00 */
}
.cursor-pointer{
  cursor: pointer;
}

.cstHomeBtn {
  display: inline-flex;
  margin-top: 10px;
  align-items: center;
  font-family: "Manrope", sans-serif !important;
  gap: 8px;
  filter: drop-shadow(0 0 45px #fdd180);
  background: linear-gradient(135deg, #fff, #D4AF37);
  color: #000000;
  font-weight: 900 !important;
  padding: 6px 16px;
  border-radius: 5px;
  font-size: .85rem;
}


/* Heading Bar */
.bar {
  width: 90px;
  height: 4px;
  background: #ddd;
  margin: 16px auto 30px;
  border-radius: 50px;
  overflow: hidden;
}

.formbar {
  width: 70px;
  height: 4px;
  background: #ddd;
  margin: 10px auto 30px;
  border-radius: 50px;
  overflow: hidden;
}

.bar-fill {
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #d4af37, #f4d03f); /* 1. c9a227 */
  animation: slide 2s infinite alternate;
}

@keyframes slide {
  from {
    width: 40%;
  }

  to {
    width: 100%;
  }
}
/* End Here */